@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Dugmici  */

.btn_1{
    background-color: #134074;;
    color: white;
}
.btn_1:hover{
    background-color: #0f345d;
    color: whitesmoke;
}

.btn_2{
    background-color:#00254f;
    color: white;
}

.btn_2:hover{
    background-color: #001b39;
    color: whitesmoke;
}

/* Login i Register */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

body{
    background: #123e72;
    font-family: 'Poppins', sans-serif;

}
.form_a{
    border-radius: 25px;
    width: 24% !important;
    background-color: rgb(0, 0, 0, 0.4) !important;
    padding: 50px;
}

.h1_lr{
    color: white;
}

@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }
}

.bg-image {
    background-image: url('../images/login2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Viewport height */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  nav ul {
    list-style: none;
  }
  
  nav li{
    float: none; 

  }
  
  nav li a{
    display: block; 
    width: 100%; 
    border-left: 5px solid; 
    position: relative; 
    z-index: 2;
    text-decoration: none;
    color: #444;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
  }
    
  nav li a:hover{ border-bottom: 0px; color: #fff;}
  nav li:first-child a{ border-left: 10px solid #212529; }
  nav li:nth-child(2) a{ border-left: 10px solid #212529; }
  nav li:nth-child(3) a{ border-left: 10px solid #212529; }
  nav li:last-child a{ border-left: 10px solid 	#212529; }
  
  nav li a:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
  }
  
  nav li a:hover:after{ width: 100%; }
  nav li:first-child a:after{ background: black; }
  nav li:nth-child(2) a:after{ background: black; }
  nav li:nth-child(3) a:after{ background: black; }
  nav li:last-child a:after{ background: black; }
  
  
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
  }
  @import url(https://fonts.googleapis.com/css?family=Lato);

  $total-items: 5;
  .ulAnimacija {
    position: absolute;
  }
  
  .liAnimacija {
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    animation: fadeIn 1s linear;
    animation-fill-mode: both;
  }
  

  @for $i from 1 through $total-items {
    li:nth-child(#{$i}) {
      animation-delay: 1.5s * $i;
    }
  }
  
 
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  
  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.heartbeat {
	-webkit-animation: heartbeat 10s ease-in-out infinite both;
	        animation: heartbeat 5s ease-in-out infinite both;
}
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.zoom:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
