{% extends 'base.html' %} {% block body %}
</br>
</br>
</br>
</br>
</br>
<div align="center">
    <div align="center" class="border">
        <div class="header">
            <h1 class="word">Index</h1>
            {% if ulogovan == True %}
        </div>
        </br>
        </br>
        </br>
        <h1 class="bottom">
            Zdravo {{session.username}}!!</br>
            </br> Dobrodosao
        </h1>

        </br>
        <a href="{{ url_for('cms') }}" class="btn">CMS</a>
        </br>
        <a href="{{ url_for('prikaz_novosti') }}">Prikaz novosti</a>
        </br>
        <a href="{{ url_for('pregled_novosti') }}">Pregled novosti</a>
        <!-- Add link to new page -->
        </br>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a> {% endif %}
    </div>
</div>
{% endblock %}