{% extends 'base.html' %} {% block body %}
</br>
</br>
</br>
</br>
</br>
<div class="container">
  <div class="row">
    <h1 class="text-center p-3 mb-5 bg-dark text-white tracking-in-expand">Top Vesti</h1>
    {% if top_likes %}
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="d-flex justify-content-center">
        <div class="bg-dark zoom">
          <a href="{{ url_for('vest',vest_id=sport_news['id']) }}" class="text-white bg-dark" style="text-decoration: none;">
            {{ top_likes[0]['sadrzaj'] | replace('width="', '') | replace('height="', '') | replace('<img ', '<img class="img-fluid" ') | safe}}
            <div class="mask ms-3">
              <div class="d-flex">
                <h1>{{ top_likes[0]['naziv'] }}</h1>
              </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  {% endif %}
    <div class="col-lg-4 d-none d-lg-block justify-content-center">
      <div class="card bg-dark text-white heartbeat">
        <div class="card-body ">
          <h2 class="text-center ">Top 4 najnovije vesti sa najviše lajkova:</h2>
          {% for vest in top_likes[1:] %}
          <a href="{{ url_for('vest',vest_id=vest['id']) }}" class="text-white" style="text-decoration: none;">
                      <div class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between">
                        <div class=" pe-3 flex-grow-1">
                          <h5>{{ vest['naziv'] }}</h5>
                          <div class="fs-12">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
          </div> 
                </div>
                <div class="container">
                  <div class="p-5 text-center bg-body-tertiary">
                    <h1 class="py-3 display-4 border  text-white bg-dark">Najnovije vesti</h1>
                  </div>
                </div>

<!--Main layout-->
<div class="container">
  <section> 
    <div class="row gx-lg-5 py-5 mb-3 bg-dark">
      <!-- kolona1 -->
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 zoom">
        <div>
          {% if sport_news %}
          <a href="{{ url_for('vest',vest_id=sport_news['id']) }}" class="text-white" style="text-decoration: none;">
          <div class="">
            <img src="https://img.freepik.com/free-photo/sports-tools_53876-138077.jpg" class="img-fluid" />
              <div class="mask text-light" style="background-color: rgba(251, 251, 251, 0.15);">{{ sport_news['datum'] }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              
              <a href="" class="text-success"  style="text-decoration: none;">
                <i class="fa-solid fa-futbol"></i> Sport</a>
            </div>
            <div class="col-6 text-end">
              <u  class="text-white" style="text-decoration: none;" > </u>
            </div>
          </div>
          <a href="{{ url_for('vest',vest_id=sport_news['id']) }}" class="text-white" style="text-decoration: none;">
            <h4 class="text-center text-white">{{ sport_news['naziv'] }}</h4>
            {% else %}
            <p class="text-white text-center">Nema vesti u kategoriji Sport.</p>
          {% endif %}
        </a>
          </a>
          <hr />
          <!-- druga kolona -->
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 zoom">
        <div>
          {% if politika_news %}
          <a href="" class="text-white" style="text-decoration: none;">
          <div class="">
            <img src="https://static.wixstatic.com/media/54959d_040702a7af37410eb49733cafbc0b2f7~mv2.jpg/v1/fill/w_1000,h_688,al_c,q_85,usm_0.66_1.00_0.01/54959d_040702a7af37410eb49733cafbc0b2f7~mv2.jpg" class="img-fluid"
              alt="" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger"  style="text-decoration: none;">
                <i class="fa-solid fa-book"></i> Politika</a>
            </div>

            <div class="col-6 text-end">
              <u  style="text-decoration: none;">DATUM</u>
            </div>
          </div>
          <a href="" class="text-white"  style="text-decoration: none;">
            <h5 class="text-center">{{ politika_news['naziv'] }}</h5>

            {% else %}
            <p class="text-center text-white">Nema vesti u kategoriji Politika.</p>
            {% endif %}
          </a>
          </a>
          <hr/>
        </div>
      </div>
      <!-- kolona3 -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 zoom">
        <div>
          {% if tehnologija_news %}
          <a href="" class="text-white" style="text-decoration: none;">
          <div class="">
            <img src="https://www.it-akademija.com/cms/mestoZaUploadFajlove/razvoj-tehnologija.jpg" class="img-fluid"
              alt="" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-warning"  style="text-decoration: none;">
                <i class="fas fa-code"></i>
                Tehnologija
              </a>
            </div>

            <div class="col-6 text-end">
              <u  style="text-decoration: none;">DATUM</u>
            </div>
          </div>
          <a href="" class="text-white"  style="text-decoration: none;">
            <h5 class="text-center">{{ tehnologija_news['naziv'] }}</h5>

            {% else %}
            <p class="text-center text-white">Nema vesti u kategoriji Tehnologija.</p>
          {% endif %}
          </a>
        </a>
          <hr />
        </div>
      </div>
    </div>
  </section>
{% endblock %}
