{% extends 'base.html' %} {% block body %}
<div class="container-fluid">

    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{{ url_for('cms') }}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <i class="fa-solid fa-person-digging text-white"></i><span class="fs-5 d-none d-sm-inline px-3">Meni</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start ulAnimacija" id="menu">
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('zaposleni') }}" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-people-roof text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Lista zaposlenih</span> </a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('kreiraj_novosti') }}" class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-file-circle-plus text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Kreiraj novosti</span></a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('prikaz_novosti') }}"  class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-newspaper text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Prikaz novosti</span></a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('prikaz_kategorija') }}"  class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-list text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Prikaz kategorija</span></a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('prikaz_zahteva') }}"  class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-bell text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Prikaz zahteva</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">Admin</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="{{ url_for('najnovije_vesti') }}">Nazad na sajt</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Odjavi se</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <h1 class="text-center py-3">Novosti</h1>

<h2 class="text-center">Hello, {{ session.username }}!!</h2>

<!-- JavaScript for displaying alert popup -->
<script>
    // Function to display alert popup
    function showAlert(message) {
        alert(message);
    }
</script>

<p class="text-center">Evo su vase vesti</p>

{% for vest in novosti %}
<div class="bg-white zoom">
    <h2>{{ vest['naziv'] }}</h2>
    <p><strong>Kategorija:</strong> {{ vest['kategorija'] }}</p>
    <p><strong>Datum:</strong> {{ vest['datum'] }}</p>
    <p><strong>Status:</strong>
        {% if vest['status'] == 0 %}
            Neodobreno
            <a href="{{ url_for('zatrazi_odobrenje', vest_id=vest['id']) }}" onclick="showAlert('Zahtev za odobrenje je poslat.')" class="btn btn-dark text-center zoom">Zatraži odobrenje</a>
        {% else %}
            Odobreno
            
            <a href="{{ url_for('zatrazi_izmenu', vest_id=vest['id'], zahtev='Izmena') }}" onclick="showAlert('Zahtev za izmenu je poslat.')" class="btn btn-dark text-center zoom">Zatraži izmenu</a>
            <a href="{{ url_for('zatrazi_izmenu', vest_id=vest['id'], zahtev='Brisanje') }}" onclick="showAlert('Zahtev za brisanje je poslat.')" class="btn btn-dark text-center zoom">Zatraži brisanje</a>
        {% endif %}
    </p>
    <div class="text-center">
        <a href="{{ url_for('vest', vest_id=vest['id']) }}" class="btn btn-dark text-center zoom">Pročitaj više</a>
    {% if vest['status'] == 0 %}
        <a href="{{ url_for('izmeni_novost', novost_id=vest['id']) }}" class="btn btn-dark text-center zoom">Izmeni vest</a>
    {% endif %}
    <a href="{{ url_for('obrisi_novost', novost_id=vest['id']) }}" onclick="return confirm('Da li ste sigurni da želite da uklonite ovu vest?')" class="btn btn-dark text-center zoom">Obrisi vest</a>
    <hr>
    </div>
    
</div>
{% endfor %}

<div>
    {% if stranica > 1 %}
    <a href="{{ url_for('prikaz_novosti', stranica=stranica-1) }}" class="btn  mb-3"><i class="fa-solid fa-arrow-left fa-bounce"></i></a>
    {% endif %}
    {% if novosti|length >= rezultati_po_stranici %}
    <a href="{{ url_for('prikaz_novosti', stranica=stranica+1) }}" class="btn  mb-3"><i class="fa-solid fa-arrow-right fa-bounce"></i></a>
    {% endif %}
</div>
        </div>
    </div>
</div>

{% endblock %}
