{% extends 'base.html' %} {% block body %}

<h1>Novosti</h1>

{% for vest in novosti %}
<div>
    <h2>{{ vest['naziv'] }}</h2>
    <p><strong>Kategorija:</strong> {{ vest['kategorija'] }}</p>
    <p><strong>Author:</strong> {{ vest['author_username'] }}</p>
    <div>
        {{ vest['sadrzaj'] | safe }}
    </div>
    <p><strong>Datum:</strong> {{ vest['datum'] }}</p>
    <hr>
    <a href="{{ url_for('vest', vest_id=vest['id']) }}">Pročitaj više</a>
</div>
{% endfor %}

<div>
    {% if stranica > 1 %}
    <a href="{{ url_for('prikaz_novosti', stranica=stranica-1) }}">Prethodna stranica</a> {% endif %} {% if novosti|length >= rezultati_po_stranici %}
    <a href="{{ url_for('prikaz_novosti', stranica=stranica+1) }}">Sledeća stranica</a> {% endif %}
</div>

{% endblock %}