{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{{ url_for('cms') }}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <i class="fa-solid fa-person-digging text-white"></i><span class="fs-5 d-none d-sm-inline px-3">Meni</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start ulAnimacija" id="menu">
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('zaposleni') }}" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-people-roof text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Lista zaposlenih</span> </a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('kreiraj_novosti') }}" class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-file-circle-plus text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Kreiraj novosti</span></a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('pregled_novosti') }}"  class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-newspaper text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Prikaz novosti</span></a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('prikaz_kategorija') }}"  class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-list text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Prikaz kategorija</span></a>
                    </li>
                    <li class="liAnimacija zoom">
                        <a href="{{ url_for('prikaz_zahteva') }}"  class="nav-link px-0 align-middle ">
                            <i class="fa-solid fa-bell text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Prikaz zahteva</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">Admin</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="pocetna.html">Nazad na sajt</a></li>
                        <li><a href="{{ url_for('logout') }}" class="dropdown-item text-light btn">Logout</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <h1 class="text-center py-3">Zahtevi</h1>
    
            <table class="table table-bordered border-dark">
        <tr>
            <th>ID</th>
            <th>ID Autora</th>
            <th>ID Novosti</th>
            <th>Zatrazeno</th>
            <th>Zahtev</th>
            <th>Akcije</th>
        </tr>
        {% for zahtev in zahtevi %}
            <tr>
                <td>{{ zahtev[0] }}</td>
                <td>{{ zahtev[1] }}</td>
                <td><a href="{{ url_for('vest', vest_id=zahtev[2]) }}">{{ zahtev[2] }}</a></td>
                <td>{{ zahtev[3] }}</td>
                <td>{{ zahtev[4] }}</td>
                <td class="text-center">
                <form action="{{ url_for('odobri_zahtev', id_zahteva=zahtev[0], tip_zahteva=zahtev[4]) }}" method="post" style="display: inline;">
                    <button type="submit"class="btn btn-dark text-center">Odobri zahtev</button>
                </form>
                <form action="{{ url_for('odbij_zahtev', id_zahteva=zahtev[0]) }}" method="post" style="display: inline;">
                    <button type="submit"class="btn btn-dark text-center">Odbij zahtev</button>
                </form>
            </td>
            </tr>
        {% endfor %}
    </table>
        </div>
    </div>
</div>

{% endblock %}