{% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="row mt-5">
      <div class="col-lg-3 d-none d-lg-block">
        <div class="card bg-dark text-white text-center">
          <div class="card-body">
            <h2>Kategorije</h2>
            <ul class="navbar-nav" data-toggle="animation" data-animation="zoom-in" data-animation-start="onLoad">
                <li class="nav-item py-2 ">
                    <a href="" class="nav-link text-light" >Kategorija1</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija2</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija3</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija4</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija5</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija6</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija7</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija8</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija9</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija10</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-lg-9 justify-content-center ">
        <form class="d-flex input-group w-auto ">
          <input type="text" class="form-control rounded ms-4 " placeholder="Pretraga" aria-label="Search" aria-describedby="search-addon" name="search_query" value="{{ search_query }}" />
          <span class="input-group-text border-0 me-5" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </form><br>
        <main role="main" class="container-fluid d-none d-xl-block">
          {% for vest in novosti %}
          <a href="{{ url_for('vest', vest_id=vest['id']) }}" class="card-link" style="text-decoration: none;">
              <div class="card mb-4">
                  <div class="row no-gutters">
      
                      <div class="col-md-7">
                          <div class="card-body">
                              <div class="card-text text-dark">
                                  {{ vest['sadrzaj'] | replace('width="', '') | replace('height="', '') | replace('<img ', '<img style="width: 880px; height: 210px;" ') | safe}}
                              </div>
                              <h5 class="card-title text-dark pt-2" style="text-decoration: none;">{{ vest['naziv'] }}</h5>
                              <p class="text-dark"><strong>Author:</strong> {{ vest['author_username'] }}</p>
                              <p class="text-dark"><strong>Datum:</strong> {{ vest['datum'] }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </a>
          {% endfor %}
      </main>
      <main role="main" class="container d-block d-xl-none">
        {% for vest in novosti %}
        <a href="{{ url_for('vest', vest_id=vest['id']) }}" class="card-link" style="text-decoration: none;">
            <div class="card mb-4">
                <div class="row no-gutters">
    
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="card-text text-dark">
                                {{ vest['sadrzaj'] | replace('width="', '') | replace('height="', '') | replace('<img ', '<img style="max-width: 100%; height: auto;" ') | safe}}
                            </div>
                            <h5 class="card-title text-dark pt-2" style="text-decoration: none;">{{ vest['naziv'] }}</h5>
                            <p class="text-dark"><strong>Author:</strong> {{ vest['author_username'] }}</p>
                            <p class="text-dark"><strong>Datum:</strong> {{ vest['datum'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </main>
    
    <div class="text-center">
    {% if stranica > 1 %}
    <a href="{{ url_for('prikaz_novosti', stranica=stranica-1) }}" class="btn  mb-3"><i class="fa-solid fa-arrow-left fa-bounce"></i></a> {% endif %} {% if novosti|length >= rezultati_po_stranici %}
    <a href="{{ url_for('prikaz_novosti', stranica=stranica+1) }}" class="btn  mb-3"><i class="fa-solid fa-arrow-right fa-bounce"></i></a> {% endif %}
    
</div>
</div>
      </div>
    </div>
  </div>


{% endblock %}