<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your News Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-3 d-none d-lg-block">
        <div class="card bg-dark text-white text-center">
          <div class="card-body">
            <h2>Kategorije</h2>
            <ul class="navbar-nav">
                <li class="nav-item py-2 ">
                    <a href="" class="nav-link text-light" >Kategorija1</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija2</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija3</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija4</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija5</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija6</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija7</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija8</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija9</a>
                </li>
                <li class="nav-item py-2">
                    <a href="" class="nav-link text-light">Kategorija10</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 justify-content-center">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4" id="main-content">
          <!-- kartica za vesti -->
          <a href="#" class="card-link">
            <div class="card mb-4">
              <div class="row no-gutters">
                <div class="col-md-5">
                  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img" alt="News Image 1">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title text-dark">Vest 1</h5>
                    <p class="card-text text-dark">Opis vesti</p>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <!-- kartica za vesti -->
          <a href="#" class="card-link">
            <div class="card mb-4">
              <div class="row no-gutters">
                <div class="col-md-5">
                  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img" alt="News Image 2">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title text-dark">Vest 2</h5>
                    <p class="card-text text-dark">Opis.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- kartica za vesti -->
          <a href="#" class="card-link">
            <div class="card mb-4">
              <div class="row no-gutters">
                <div class="col-md-5">
                  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img" alt="News Image 3">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title text-dark">Vest3 </h5>
                    <p class="card-text text-dark">Opis</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- kartica za vesti -->
          <a href="#" class="card-link">
            <div class="card mb-4">
              <div class="row no-gutters">
                <div class="col-md-5">
                  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img" alt="News Image 4">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title text-dark">Vest4 </h5>
                    <p class="card-text text-dark">Opis</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- kartica za vesti -->
          <a href="#" class="card-link">
            <div class="card mb-4">
              <div class="row no-gutters">
                <div class="col-md-5">
                  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img" alt="News Image 5">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title text-dark">Vest5</h5>
                    <p class="card-text text-dark">Opis ide ovde</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </main>
      </div>
    </div>
  </div>

  
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
